*{
    margin: 0;
    padding: 0;    
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #333;
    /* font-family:'Microsoft JhengHei'; */
}
ul,li{
    list-style-type:none;
}
a {
    text-decoration:none;
    color: black;
}
#wrapper{
    width: 900px;
    height: 100%;
    background-color: blanchedalmond;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
#startButton{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    position: absolute;
    z-index: 3;
}
#startgame{
    width: 100px;
    height: 50px;
    border: solid 5px #ffd700;
    border-radius: 30%;
    color: #ffd700;
    line-height: 120%;
    font-size: 40px;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;
}
#startgame:hover{
    color: #444444;
    background-color: #ffd700;
}
.coin{
    width: 45px;
    height: 45px;
    background-image: url('../img/dollar.png');
    background-size: cover;
    position: absolute;
    top:-45px;
    /*transform: rotate(0deg);*/
    transform-origin:50% 100%;
}
#pot{
    width: 128px;
    height: 128px;
    background-image: url('../img/vase.png');
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin:50% 0%;
}
.light{
    width: 64px;
    height: 40px;
    background: blanchedalmond; /* Old browsers */
    background: -moz-linear-gradient(top, blanchedalmond 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, blanchedalmond 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, blanchedalmond 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    top: -38px;
    left: 32px;
    opacity: .6;
    display: none;
}
.boardImg{
    width: 192px;
    height: 192px;
    background-image: url('../img/signboard.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 2;
    
}
#countdown{
    width: 64px;
    height: 64px;    
    position: absolute;
    top: 100px;
    left: 10px;
    text-align: center;
    color: #880000;
}
#score{
    width: 64px;
    height: 64px;    
    position: absolute;
    top: 100px;
    right: 35px;
    text-align: center;
    color: #880000;  
}
.display{
    display: none !important;
}
#cointest{
    top:0px;
    left: 30px;
}
#rank{
    width: 400px;
    height: 420px;
    background-color: white;
    opacity: 0.6;
    border-radius: 5%;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    padding-top: 50px;
    display: none;
}
#scorename{
    width:100%;
    text-align:center;
    margin: 0 auto 0;
    font-size: 50px;
    margin-bottom: 75px;
}
#point{
    width: 100%;
    text-align:center;
    margin: 0 auto;
    font-size: 50px;
}
#restart{
    width: 150px;
    height: 50px;
    border:solid 3px #C63300;
    border-radius: 30%;
    text-align: center;
    margin: 75px auto 0;
    line-height: 115%;
    font-size: 40px;
    color:#C63300;
    cursor: pointer;
}
#restart:hover{
    background-color: #C63300;
    color: aliceblue;
}
